 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 789px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 34px -40px -274px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1030px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.25rem;
  margin: 133px auto 0 -20px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: 12px auto 0 -20px;
}

.u-section-1 .u-shape-1 {
  width: 217px;
  height: 35px;
  margin: 61px 161px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -96px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1030px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-2 {
  width: 146px;
  height: 146px;
  margin: 89px auto 0 33px;
}

.u-section-1 .u-image-1 {
  width: 548px;
  height: 503px;
  object-position: 0% 0%;
  margin: -216px auto 0 -18px;
}

.u-section-1 .u-shape-3 {
  width: 400px;
  height: 413px;
  margin: -433px auto 0 56px;
}

.u-section-1 .u-shape-4 {
  width: 114px;
  height: 114px;
  margin: -105px 114px 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 70px;
  height: 70px;
  margin: 23px 205px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1612px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0 19px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 220px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -248px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1612px;
  }

  .u-section-1 .u-shape-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 670px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 431px;
    margin-top: 365px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: -913px;
  }

  .u-section-1 .u-shape-4 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: -96px;
  }

  .u-section-1 .u-shape-5 {
    width: 58px;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 40px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 258px;
    margin-right: 143px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -286px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 650px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 330px;
  }

  .u-section-1 .u-shape-3 {
    width: 360px;
    height: 372px;
    margin-top: -814px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -63px;
  }

  .u-section-1 .u-shape-5 {
    width: 70px;
    margin-top: -448px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 185px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -213px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 975px;
  }

  .u-section-1 .u-image-1 {
    object-position: 0% center;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 249px;
    margin-right: 123px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -277px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 614px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 312px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
    height: 351px;
    margin-top: -796px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: -42px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 427px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: -154px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 25.3333px) calc(33.3333% - 25.3333px) calc(33.3333% - 25.3333px);
  min-height: 307px;
  column-gap: 30px;
  grid-auto-columns: calc(33.3333% - 25.3333px);
  grid-gap: 38px 38px;
}

.u-section-2 .u-list-item-1 {
  --radius: 50px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 10px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 28px 5px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 22px 0 0 10px;
}

.u-section-2 .u-text-3 {
  margin: 28px 11px 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 50px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 10px;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 28px 5px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 22px 0 0 10px;
}

.u-section-2 .u-text-6 {
  margin: 28px 11px 0;
}

.u-section-2 .u-list-item-3 {
  --radius: 50px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-2 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 28px 5px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 22px 0 0 10px;
}

.u-section-2 .u-text-9 {
  margin: 28px 11px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 65px;
    margin-bottom: 56px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
    min-height: 249px;
    grid-auto-columns: calc(33.3333% - 26.6667px);
    grid-gap: 40px 40px;
    row-gap: 30px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 5px;
    margin-right: 1px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 26px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 5px;
    margin-right: 1px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 26px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 5px;
    margin-right: 1px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 26px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 20.000025px));
    min-height: 640px;
    grid-auto-columns: calc(50% - 20.000025px);
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: translateY(-10px) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: translateY(-10px) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: translateY(-10px) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: translateY(-10px) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: translateY(-10px) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: translateY(-10px) !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 359px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 57px 208px 0 165px;
}

.u-section-3 .u-group-elements-1 {
  width: 212px;
  min-height: 174px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 17px 322px 0 auto;
}

.u-section-3 .u-image-1 {
  height: 148px;
  transition-duration: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -12px 21px 0 28px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-elements-2 {
  width: 225px;
  min-height: 174px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -174px auto 0 83px;
}

.u-section-3 .u-image-2 {
  width: 191px;
  height: 133px;
  transition-duration: 0.5s;
  margin: 0 auto 0 17px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 3px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-elements-3 {
  width: 163px;
  min-height: 157px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -158px auto 0 380px;
}

.u-section-3 .u-image-3 {
  width: 107px;
  height: 107px;
  transition-duration: 0.5s;
  margin: 0 auto 0 28px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 12px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-elements-4 {
  width: 164px;
  min-height: 157px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -157px 133px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 105px;
  height: 97px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-elements-5 {
  width: 170px;
  min-height: 157px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -157px auto 0 -126px;
}

.u-section-3 .u-image-5 {
  width: 115px;
  height: 115px;
  transition-duration: 0.5s;
  margin: 0 24px 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: 3px 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-group-elements-6 {
  width: 262px;
  min-height: 156px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -157px -150px 59px auto;
}

.u-section-3 .u-image-6 {
  width: 97px;
  height: 97px;
  transition-duration: 0.5s;
  margin: 0 auto 0 83px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 336px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 108px;
    margin-left: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-group-elements-3 {
    margin-left: 377px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-group-elements-1 {
    margin-right: 128px;
  }

  .u-section-3 .u-group-elements-3 {
    margin-left: 177px;
  }
}

.u-section-3 .u-image-5,
.u-section-3 .u-image-5:before,
.u-section-3 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-5,
.u-section-3 .u-group-elements-5:before,
.u-section-3 .u-group-elements-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-5.u-group-elements-5.u-group-elements-5:hover {
  transform: translateY(-8px) !important;
}

.u-section-3 .u-group-elements-5.u-group-elements-5.u-group-elements-5.hover {
  transform: translateY(-8px) !important;
}

.u-section-3 .u-container-layout:hover .u-group-elements-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-elements-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-2,
.u-section-3 .u-group-elements-2:before,
.u-section-3 .u-group-elements-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-2.u-group-elements-2.u-group-elements-2:hover {
  transform: translateY(-8px) !important;
}

.u-section-3 .u-group-elements-2.u-group-elements-2.u-group-elements-2.hover {
  transform: translateY(-8px) !important;
}

.u-section-3 .u-container-layout:hover .u-group-elements-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-elements-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-1,
.u-section-3 .u-group-elements-1:before,
.u-section-3 .u-group-elements-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-1.u-group-elements-1.u-group-elements-1:hover {
  transform: translateY(-8px) !important;
}

.u-section-3 .u-group-elements-1.u-group-elements-1.u-group-elements-1.hover {
  transform: translateY(-8px) !important;
}

.u-section-3 .u-container-layout:hover .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-3,
.u-section-3 .u-group-elements-3:before,
.u-section-3 .u-group-elements-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-3.u-group-elements-3.u-group-elements-3:hover {
  transform: translateY(-8px) !important;
}

.u-section-3 .u-group-elements-3.u-group-elements-3.u-group-elements-3.hover {
  transform: translateY(-8px) !important;
}

.u-section-3 .u-container-layout:hover .u-group-elements-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-elements-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-6,
.u-section-3 .u-image-6:before,
.u-section-3 .u-image-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-4,
.u-section-3 .u-group-elements-4:before,
.u-section-3 .u-group-elements-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-4.u-group-elements-4.u-group-elements-4:hover {
  transform: rotate(0deg) translateY(-8px) !important;
}

.u-section-3 .u-group-elements-4.u-group-elements-4.u-group-elements-4.hover {
  transform: rotate(0deg) translateY(-8px) !important;
}

.u-section-3 .u-container-layout:hover .u-group-elements-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-elements-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-elements-6,
.u-section-3 .u-group-elements-6:before,
.u-section-3 .u-group-elements-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-group-elements-6.u-group-elements-6.u-group-elements-6:hover {
  transform: rotate(0deg) translateY(-8px) !important;
}

.u-section-3 .u-group-elements-6.u-group-elements-6.u-group-elements-6.hover {
  transform: rotate(0deg) translateY(-8px) !important;
}

.u-section-3 .u-container-layout:hover .u-group-elements-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-group-elements-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 885px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 48px 537px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 361px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 25px 30px 0;
}

.u-section-4 .u-text-3 {
  margin: 15px 30px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 359px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  height: 404px;
  width: 426px;
  margin: -99px auto 0 -12px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 364px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 363px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-5 {
  margin: 25px 0 0;
}

.u-section-4 .u-image-2 {
  height: 453px;
  width: 429px;
  margin: -390px auto -3px -110px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 337px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 296px;
  }

  .u-section-4 .u-image-1 {
    height: 294px;
    width: 310px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 117px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-4 .u-image-1 {
    height: 221px;
    width: 233px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 230px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 486px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 491px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 309px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 727px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -15px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 354px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 25px 30px 0;
}

.u-section-5 .u-text-2 {
  margin: 12px 30px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 354px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-shape-1 {
  width: 380px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 354px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-shape-2 {
  background-image: none;
}

.u-section-5 .u-image-1 {
  height: 428px;
  width: 379px;
  margin: -103px auto -27px -57px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 354px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 518px;
  width: 475px;
  margin: -497px -67px 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-5 .u-text-4 {
  margin: 28px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 292px;
  }

  .u-section-5 .u-shape-1 {
    width: 310px;
  }

  .u-section-5 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 292px;
  }

  .u-section-5 .u-image-1 {
    height: 312px;
    width: 276px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 292px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -594px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 224px;
  }

  .u-section-5 .u-shape-1 {
    width: 233px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 224px;
  }

  .u-section-5 .u-image-1 {
    height: 229px;
    width: 203px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 504px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-5 .u-image-2 {
    height: 371px;
    width: 340px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 388px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  width: 717px;
  margin: 24px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 24px -30px 0;
}

.u-section-6 .u-list-1 {
  width: 1319px;
  margin: 24px auto 47px -102px;
}

.u-section-6 .u-repeater-1 {
  grid-gap: 25px 25px;
  grid-template-columns: calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px) calc(25% - 18.75px);
  min-height: 167px;
  grid-auto-columns: calc(25% - 18.75px);
}

.u-section-6 .u-list-item-1 {
  --radius: 25px;
}

.u-section-6 .u-image-1 {
  background-image: url("../images/edx-free-courses.png");
  background-position: 11.99% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 9px;
}

.u-section-6 .u-list-item-2 {
  --radius: 25px;
}

.u-section-6 .u-image-2 {
  background-image: url("../images/64c3cdeb06b558e0f6fa8832_Udemy.png");
  background-position: 47.99% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 9px;
}

.u-section-6 .u-list-item-3 {
  --radius: 25px;
}

.u-section-6 .u-image-3 {
  background-image: url("../images/unnamed.png");
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 9px;
}

.u-section-6 .u-list-item-4 {
  --radius: 25px;
}

.u-section-6 .u-image-4 {
  background-image: url("../images/moodle-ladders.jpg");
}

.u-section-6 .u-container-layout-4 {
  padding: 10px 9px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: 717px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 18.75px));
    min-height: 116px;
  }

  .u-section-6 .u-list-item-1 {
    background-position: 11.99% 50%;
  }

  .u-section-6 .u-list-item-2 {
    background-position: 47.99% 50%;
  }

  .u-section-6 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-list-item-4 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 12.5px);
    grid-template-columns: repeat(2, calc(50% - 12.5px));
    min-height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
    font-size: 1rem;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 815px;
}

.u-section-7 .u-text-1 {
  margin-top: 58px;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
  margin-left: 0;
}

.u-section-7 .u-list-1 {
  width: 1085px;
  margin: 59px 0 0 auto;
}

.u-section-7 .u-repeater-1 {
  grid-gap: 35px 35px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 599px;
}

.u-section-7 .u-list-item-1 {
  --radius: 35px;
  --effect-scale: 1.25;
}

.u-section-7 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/da1b2400-322b-459b-97b0-0c557f05d017-a3d1899c3344.webp");
  background-position: 50% 28%;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 0 0 25px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-list-item-2 {
  --radius: 35px;
  --effect-scale: 1.25;
}

.u-section-7 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/Screenshot2024-03-10001556.png");
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 0 25px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-list-item-3 {
  --radius: 35px;
  --effect-scale: 1.25;
}

.u-section-7 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/2cc794d0-316d-42f7-bbfd-25c34e4cd5df-033e46d516c0.small.webp");
  background-position: 50% 15.66%;
}

.u-section-7 .u-container-layout-3 {
  padding: 0;
}

.u-section-7 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 0 25px;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-text-5 {
  font-size: 3rem;
  margin: -553px 1105px 0 -29px;
}

.u-section-7 .u-text-6 {
  font-size: 3rem;
  margin: 138px 1105px 0 -29px;
}

.u-section-7 .u-text-7 {
  font-size: 3rem;
  margin: 135px 1105px 60px -29px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-7 .u-list-item-1 {
    background-position: 50% 28%;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
  }

  .u-section-7 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }

  .u-section-7 .u-list-item-3 {
    background-position: 50% 15.66%;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 1005px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 905px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 905px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 895px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 685px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 685px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
    margin-right: 805px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1rem;
    margin-right: 505px;
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
    margin-right: 505px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-5 {
    margin-right: 705px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 305px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 305px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 686px;
}

.u-section-8 .u-list-1 {
  width: 1085px;
  margin: 0 0 0 auto;
}

.u-section-8 .u-repeater-1 {
  grid-gap: 35px 35px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  min-height: 599px;
}

.u-section-8 .u-list-item-1 {
  --radius: 35px;
  --effect-scale: 1.25;
}

.u-section-8 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/Screenshot2024-03-10025911.png");
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 56px 0 0 25px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-list-item-2 {
  --radius: 35px;
  --effect-scale: 1.25;
}

.u-section-8 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/Screenshot2024-03-10030211.png");
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 56px 0 0 25px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-list-item-3 {
  --radius: 35px;
  --effect-scale: 1.25;
}

.u-section-8 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/asset-v1_HarvardXCS50SQLSQLtypethumbnailblockcourse_image-png-375x200.jpg");
  background-position: 50% 27.28%;
}

.u-section-8 .u-container-layout-3 {
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 56px 0 0 25px;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-text-4 {
  font-size: 3rem;
  margin: -562px 1108px 0 -32px;
}

.u-section-8 .u-text-5 {
  font-size: 3rem;
  margin: 138px 1108px 0 -32px;
}

.u-section-8 .u-text-6 {
  font-size: 3rem;
  margin: 135px 1108px 60px -32px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-list-1 {
    width: 940px;
  }

  .u-section-8 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
  }

  .u-section-8 .u-list-item-3 {
    background-position: 50% 27.28%;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-right: 1008px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 908px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 908px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 898px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 688px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 688px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    width: 540px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-text-4 {
    font-size: 1rem;
    margin-right: 808px;
  }

  .u-section-8 .u-text-5 {
    font-size: 1rem;
    margin-right: 508px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1rem;
    margin-right: 508px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    width: 340px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-4 {
    margin-right: 708px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 308px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 308px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 234px;
}

.u-section-9 .u-group-1 {
  width: 929px;
  height: auto;
  min-height: 107px;
  --radius: 50px;
  margin: 60px auto 60px 98px;
}

.u-section-9 .u-container-layout-1 {
  padding-right: 22px;
  padding-left: 22px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  margin: 18px 1px 0 38px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    margin-left: 11px;
    height: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }
} .u-section-10 {
  background-image: url("../images/54.jpg");
  background-position: 0% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 794px;
}

.u-section-10 .u-shape-1 {
  width: 570px;
  height: 311px;
  margin: 266px auto 0 0;
}

.u-section-10 .u-group-1 {
  width: 599px;
  min-height: 400px;
  height: auto;
  margin: -440px auto 60px 48px;
}

.u-section-10 .u-container-layout-1 {
  padding: 16px 0 0;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 7px auto 0 30px;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  margin: 17px 30px 0;
}

.u-section-10 .u-group-2 {
  width: 219px;
  height: auto;
  min-height: 47px;
  margin: 34px auto 0 30px;
}

.u-section-10 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 4px 17px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-10 .u-shape-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 470px;
  }

  .u-section-10 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-10 .u-text-1 {
    margin-top: 0;
  }

  .u-section-10 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    background-position: 29.53% 50%;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-10 .u-shape-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    background-position: 42.98% 50%;
  }

  .u-section-10 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-10 .u-shape-1 {
    width: 270px;
  }

  .u-section-10 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 7px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-10 .u-shape-1 {
    width: 170px;
  }

  .u-section-10 .u-group-1 {
    width: 340px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
  }
}