* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--secondary-font-family);
  background-color: var(--bg-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
